

<style>

body {
	font-family: 'Work Sans', sans-serif;
	background-image: url(../images/background.png);
    margin: 0px;
}

h1 {
    color: #ffffff;
    background: #4aaaa5;
    margin: 0px 0px 10px 0px;
    padding: 25px;
    font-weight: bold;

}

.navbar {
    width: 100vw;
    text-align: center;
    background: white;
}

.navcontainer {
    display: inline-block;
    text-align: center;
    width: 100vw;
}

.navbar-item {
    display: inline-block;
}

.navbar a:hover { 
    background-color: #666666; 
    }

.navbar-item a, footer a {
    color: #666666;
    text-decoration: none;
    padding: 0 5px;
}

.navcontainer.left{
    width: 65%;
    max-width: 650px;
    margin: 0 1% 0 -1%;
    display: inline-block;
    text-align: left;
}

.navcontainer.right {
    width: 26%;
    max-width: 270px;
    margin: 0 0 0 1%;
    display: inline-block;
    text-align: right;
    font-size: 16px;
}

.container {
    display: inline-block;
    text-align: center;
    width: 100vw;
    padding-bottom: 44px;
}

.content {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 65%;
    display: inline-block;
    margin: 0 1% 0 0;
    max-width: 650px;
    padding: .5rem;
    border-radius: 20px;

}

.content h2 {
    background: #ffffff;
    color: #4aaaa5;
    border-bottom: 2px solid #dddddd;
    margin: 0 5px 5px 5px;
    padding: 15px 0 25px 0;
    display: block;
    text-align: left;
}

.content a {
    color: #4aaaa5;
    text-decoration: none;
    font-weight: 400;

}


.text {
    text-align: justify;
    padding: 0 10px 0px 10px;
}

.sidebar {
    width: 26%;
    height: 150px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: inline-block;
    vertical-align: top;
    text-align: middle;
    margin: 0 0 0 1%;
    max-width: 270px;
    border-radius: 20px;
    
}

.sidebar h2 {
	color: #4aaaa5;
	border-bottom: 2px solid #dddddd;
	padding: 0px 0 25px 0;
}

.headshot {
    width: 25%;
    height: auto;
    float: left;
 
}

footer {
    color: #ebebeb;
	background-color: #666666;
    font-size: 15px;
    padding: 35px;
	float: bottom;
    text-align: center;
    clear: left;
    border-top: 8px 
    solid #4aaaa5;
    height: 24px;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.content a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.form-style-7{
    max-width:400px;
    margin:50px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: 'Work Sans', sans-serif;
}
.form-style-7 h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
    font-family: 'Work Sans', sans-serif;
}
.form-style-7 ul{
    list-style:none;
    padding:0;
    margin:0;
    font-family: 'Work Sans', sans-serif;   
}
.form-style-7 li{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
    font-family: 'Work Sans', sans-serif;
}
.form-style-7 li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}
.form-style-7 li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus 
{
}
.form-style-7 li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: 'Work Sans', sans-serif;
    font-size: 11px;
}
.form-style-7 textarea{
    resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
    background: #666666;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    color: #D2E2FF;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
    background: #6B9FFF;
    color:#fff;
}

@media only screen
and (max-width: 980px) 
         {

    body {
background-image: url(../images/background.png);
    }

    .headshot {
    float: none;
    margin-right:0;
    }

}


@media only screen
and (max-width: 768px) {

        body {
background-image: url(../images/background.png);
    }

    .content: {
    min-width: 100%;
    height: calc(100% - 200px);
    width: 0px;
    float: right;
    }
    
    .navcontainer.right{
    float: none;
    margin-top: 7.5px;
    max-width: 100%;
    display: inline;
    }

    .headshot{
    height: 200px;
    float: left;
    margin: 10px 10px 10px 10px;
}
    .sidebar{
        margin: 18px;
        min-width: 100%;
    }

}


@media only screen
and (max-width: 640px) {
    
        body {
background-image: url(../images/background.png);
    }

    .content {
        min-width: 100%;
        margin: 18px;
    }

    h1 {
        margin-top: 0;
        padding: .60em;
        text-align: center;
        min-width: 100%;
    }

    .navcontainer.left {
        margin-top: 0;
        text-align: center;
        width: auto;
    }
    }
    .navcontainer.right {
        margin: 10px 10px 10px -10px;
        padding: 0;
        width: auto;



    }

    .sidebar {
        width: 100%;
        margin: 18px;

        }


}


</style>


